



#MessageBox.ui.segment{
    height: 450px;
    overflow: auto;
    /* max-height: 200px; */
    width: 50%;
    display: flex;
    flex-direction: column-reverse;
    
}

#MessageContentBox.column{
    background-color: rgba(248, 231, 194, 0.842);
    width: 100%;
    text-align: justify;
}

#cardInfo.card{
    width: 100%;
    text-align: left;
    margin-left: 4%;
    background-color: rgba(248, 231, 194, 0.842);
}

#textForm{
  padding: 20px;
  width: 50%;
  text-align: center;
  margin: auto;
}

#subButton{
    padding: 5px 5px;
    margin-top: 2%;
}