#loginApp{

    background-color:  rgba(233, 233, 233, 0.924)
    
    
}
#subText{
  color: "#72cac8";  
  padding: "5px";
  font-family: "Bublont outline";
  text-align:'center';
  font-size: "12px";
  
}

.logo{
    animation-duration: 2s;
    animation-name: slideinleft;
}

#header{
    animation-duration: 3s;
    animation-name: slideinright;
}

@keyframes slideinright {
    from {
      margin-left: -100%;
      width: 300%;
    }
  
    to {
      margin-right: 0%;
      width: 100%;
    }
  }


@keyframes slideinleft {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }


#newSeg.ui.segment {
    position: relative;
    background: rgba(233, 233, 233, 0.924);
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
    margin: 1rem 0;
    padding: 1em 1em;
    border-radius: .28571429rem;
    border: 1px solid rgba(34,36,38,.15);
}
